@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    height: 80vh;
    background-image: url('https://cdn.discordapp.com/attachments/874349070339153961/962642322368114718/header.png');
    background-position: center;
    color: #fff;
}

header nav{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav a {
    text-decoration: none;
    color: #bababa;
}

header nav a:hover {
    color: #fff;
    border-bottom: #fff solid 2px;
}

.premiere{
    display: flex;
    flex-wrap: wrap;
    background-color: #18212b;
    color: #fff;
    padding: 30px;
}

.premiere .gauche {
    margin-right: 400px;
}

.offre{
    padding: 30px;
    background-image: url(https://img.gta5-mods.com/q75/images/2020-bugatti-bolide-addon-sp-fivem/4df6f4-bolidenew.png);
    background-position: center;
    color: #fff;
    font-size: 2em;
}
.offre .cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.offre .cards .carte{
    background-color: #fff;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.offre .cards .carte img {
    height: 60px;
}

.offre h1, .offre p{
    text-align: center;
}

footer{
    background-color: #18212b;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .socialmedia{
    display: flex;
}

footer .socialmedia a{
    color: white;
    font-size: 25px;
    margin-right: 15px;
    padding: 5px;
}

footer .socialmedia a:hover{
    color: white;
    font-size: 25px;
    margin-right: 15px;
    padding: 5px;
    border-bottom: #fff solid 2px;
}


@media screen and (max-width: 810px) {
    .premiere .gauche{
        width: 100%;
    }
    .premiere .droite {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .premiere .gauche {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}